html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --white: #fff;
    --black: #000;
    --blak-light: #333;
    --bg-header: #b8f0ff99;

    --default: #0b4a9e;
    --hover: #b8f0ff;
    --active: #073269;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.woff') format('woff'),
        font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.woff') format('woff'),
        font-style: normal;
    font-weight: 400;
}


body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

svg {
    display: block;
}

/* global */

.container {
    min-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn__reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: var(--default);
    color: var(--white);
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* header */
.header__top {
    background-color: var(--default);
    color: var(--white);
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 14px 0;
}

.header_-adres-link,
.header__phone-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__phone {
    margin-right: auto;
}

.masseges__list {
    display: flex;
    gap: 25px;
}


.header__bottom {
    padding: 10px 0;
    border-bottom: 4px solid var(--default);
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
    gap: 25px;
}

.menu__link {
    font-size: 20px;
    font-weight: 700;
}

/* intro */

.intro__inner {
    display: flex;
    gap: 30px;
    align-items: center;
    height: calc(100vh - 174px);
}

.intro__left {
    width: calc((100% - 30px) / 12 * 7);
}

.intro__right {
    width: calc((100% - 30px) / 12 * 5);
}